body {
    margin: 0;
    padding: 0;

    background-color: #2C2B3D;

    font-family: 'Open Sans', sans-serif;

}

.page {
    
    padding-top: 71px;
    margin: 0 auto;
    width: 1085px;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;

}


nav ul {
  display: flex;
  align-items: center;
  gap: 64px;

  list-style: none;

  padding: 0;
  margin: 0;

}

ul a {

  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;

  text-decoration: none;
  color: #FFFFFF;
  
}

main {

  display: flex;
  padding: 100px 0 160px;
  gap: 77px;

}

section h1 {

  padding: 0;
  margin: 0;

  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;

}

h1 span {

  color: #00BFA6;
}

section p {
  padding-top: 60px;
  margin: 0;

  color:  #C2C2C2;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

}

p strong {

  font-weight: 700;

}

p span {

  font-weight: 700;
  color: #00BFA6;

}

footer {

  padding-top: 27px;
  margin: 0 auto 0;

  border-top: 1px solid #00BFA6;

  width: 570px;

  font-family: 'JetBrains Mono';
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  
}

footer a {
  text-decoration: none;
  text-transform: lowercase;
  color: #ffffff;
}

.padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

