body {
    margin: 0;
    padding: 0;

    background-color: #2C2B3D;

    /*font-family: 'JetBrains Mono', monospace;*/
    font-family: 'Open Sans', sans-serif;

}

.page {
    text-align: center;
}






